<p>userlogin works!</p>

<div class="form">
    <h1>Login Here</h1>
    <label>Username :</label>
    <input type="text" name="" placeholder="Enter name here" #name >
    <label>Password :</label>
    <input type="password" name="password" id="password" #password placeholder="Enter password here">
    <p>show password:<input type="checkbox" (click)="myFunction()"></p>
    <input type="submit" name="submit" (click)="checkCredentials(name.value, password.value)" value="login">
    <div>
        <a routerLink="/signup">please signup first</a>
    </div>
    

</div>

<!-- <div>
    <p id="length"></p>
</div> -->
<!-- <div>
    <p>my name</p>
</div>

<h1 id="head">
    arun rawat
</h1>

<p>
    sachin
</p>

<p class="rohit">
    rohit
</p>

<h2 class="danesh">
    danesh
</h2>

<ul>
    <li>Item 1</li>
    <li class="a">Item 2</li>
    <li class="a b">Item 3</li>
    <li class="ab">Item 4</li>
</ul> -->

<!-- <p>
    <ul>
        <li>text</li>
        <li>text</li>
    </ul>
</p> -->

<!-- <p class="danesh">
    danesh
</p> -->
